body {
}

.header {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    background-color: cornflowerblue;
    box-shadow: 1px 2px 7px rgb(34 34 34 / 0.22);
    color: white;
    border-radius: 10px;
}

.button {
    font-size: 15px;
    font-weight: 700;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #2F5D8C;
    color: white;
    transition: 350ms ease;
}

    .button:hover {
        background-color: #6495ed;
        box-shadow: 1px 2px 7px rgb(34 34 34 / 0.42);
    }
